<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="extension.derived.hu.bme.mit.viatra2.examples.reveng.class2State" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="State" feature-name="source" package-nsUri="http://planet-mde.org/ttc2011/statemachine"/>
  </extension>
  <extension id="hu.bme.mit.viatra2.examples.reveng.Preconditions" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.viatra2.examples.reveng.Preconditions" id="hu.bme.mit.viatra2.examples.reveng.Preconditions"/>
  </extension>
  <extension id="hu.bme.mit.viatra2.examples.reveng.viewer.Viewers" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.viatra2.examples.reveng.viewer.Viewers" id="hu.bme.mit.viatra2.examples.reveng.viewer.Viewers"/>
  </extension>
  <extension id="hu.bme.mit.viatra2.examples.reveng.validation.RevengValidation" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.viatra2.examples.reveng.validation.RevengValidation" id="hu.bme.mit.viatra2.examples.reveng.validation.RevengValidation"/>
  </extension>
  <extension id="hu.bme.mit.viatra2.examples.reveng.Trace" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.viatra2.examples.reveng.Trace" id="hu.bme.mit.viatra2.examples.reveng.Trace"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.viatra2.examples.reveng.ref2Transition" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Transition" feature-name="source" package-nsUri="http://planet-mde.org/ttc2011/statemachine"/>
  </extension>
  <extension id="hu.bme.mit.viatra2.examples.reveng.Queries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.viatra2.examples.reveng.Queries" id="hu.bme.mit.viatra2.examples.reveng.Queries"/>
  </extension>
</plugin>
