<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.viatra2.examples.reveng.transitionTrace"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.TransitionTraceQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.transitionTrace">
      </matcher>
   </extension>
   <extension
         id="extension.derived.hu.bme.mit.viatra2.examples.reveng.transitionTrace"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Transition"
            feature-name="source"
            package-nsUri="http://planet-mde.org/ttc2011/statemachine">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.viewer.state"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.viewer.util.StateQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.viewer.state">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.viewer.transition"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.viewer.util.TransitionQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.viewer.transition">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.validation.stateWithMissingInstanceDefinition"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.validation.util.StateWithMissingInstanceDefinitionQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.validation.stateWithMissingInstanceDefinition">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.validation.classWithInstanceDefinition"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.validation.util.ClassWithInstanceDefinitionQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.validation.classWithInstanceDefinition">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.class2State"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.Class2StateQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.class2State">
      </matcher>
   </extension>
   <extension
         id="extension.derived.hu.bme.mit.viatra2.examples.reveng.class2State"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="State"
            feature-name="source"
            package-nsUri="http://planet-mde.org/ttc2011/statemachine">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.ref2Transition"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.Ref2TransitionQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.ref2Transition">
      </matcher>
   </extension>
   <extension
         id="extension.derived.hu.bme.mit.viatra2.examples.reveng.ref2Transition"
         point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
      <wellbehaving-derived-feature
            classifier-name="Transition"
            feature-name="source"
            package-nsUri="http://planet-mde.org/ttc2011/statemachine">
      </wellbehaving-derived-feature>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.unprocessedStateClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.UnprocessedStateClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.unprocessedStateClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.unprocessedTransition"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.UnprocessedTransitionQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.unprocessedTransition">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.methodsOfClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.MethodsOfClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.methodsOfClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.belowStatement"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.BelowStatementQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.belowStatement">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.statementInMethod"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.StatementInMethodQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.statementInMethod">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.classSubtypeOfState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ClassSubtypeOfStateQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.classSubtypeOfState">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.notAbstractStateClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.NotAbstractStateClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.notAbstractStateClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.nameOfElement"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.NameOfElementQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.nameOfElement">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.supertypeOfClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.SupertypeOfClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.supertypeOfClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.targetOfNamespaceClassifierReference"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.TargetOfNamespaceClassifierReferenceQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.targetOfNamespaceClassifierReference">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.abstractClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.AbstractClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.abstractClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.classCalledWithActivate"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ClassCalledWithActivateQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.classCalledWithActivate">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.referenceTarget"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ReferenceTargetQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.referenceTarget">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInStatement"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ReferenceTargetInStatementQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInStatement">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInMethod"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ReferenceTargetInMethodQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInMethod">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ReferenceTargetInClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.methodCall"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.MethodCallQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.methodCall">
      </matcher>
   </extension>

</plugin>
