<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="hu.bme.mit.viatra2.examples.reveng.class"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.class">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.methodsOfClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.MethodsOfClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.methodsOfClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.belowStatement"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.BelowStatementQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.belowStatement">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.statementInMethod"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.StatementInMethodQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.statementInMethod">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.classSubtypeOfState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ClassSubtypeOfStateQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.classSubtypeOfState">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.notAbstractStateClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.NotAbstractStateClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.notAbstractStateClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.nameOfElement"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.NameOfElementQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.nameOfElement">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.supertypeOfClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.SupertypeOfClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.supertypeOfClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.targetOfNamespaceClassifierReference"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.TargetOfNamespaceClassifierReferenceQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.targetOfNamespaceClassifierReference">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.abstractClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.AbstractClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.abstractClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.classCalledWithActivate"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ClassCalledWithActivateQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.classCalledWithActivate">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.referenceTarget"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ReferenceTargetQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.referenceTarget">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInStatement"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ReferenceTargetInStatementQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInStatement">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInMethod"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ReferenceTargetInMethodQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInMethod">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ReferenceTargetInClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.referenceTargetInClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.methodCall"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.MethodCallQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.methodCall">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.parentClassMethod"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ParentClassMethodQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.parentClassMethod">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.parentSwitchCaseConstrant"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ParentSwitchCaseConstrantQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.parentSwitchCaseConstrant">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.parentSwitchCase"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ParentSwitchCaseQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.parentSwitchCase">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.lowerSwitch"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.LowerSwitchQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.lowerSwitch">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.referenceInSwitch"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ReferenceInSwitchQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.referenceInSwitch">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.parentCatchBlockClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ParentCatchBlockClassQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.parentCatchBlockClass">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.referenceTargetOfParameter"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ReferenceTargetOfParameterQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.referenceTargetOfParameter">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.parentCatchBlock"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ParentCatchBlockQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.parentCatchBlock">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.lowerCatchBlock"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.LowerCatchBlockQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.lowerCatchBlock">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.parentStatementContainer"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.ParentStatementContainerQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.parentStatementContainer">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.stateTrace"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.util.StateTraceQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.stateTrace">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.viewer.state"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.viewer.util.StateQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.viewer.state">
      </matcher>
   </extension>
   <extension
         id="hu.bme.mit.viatra2.examples.reveng.viewer.transition"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="hu.bme.mit.viatra2.examples.reveng.viewer.util.TransitionQuerySpecification$Provider"
            id="hu.bme.mit.viatra2.examples.reveng.viewer.transition">
      </matcher>
   </extension>

</plugin>
