/.StateProcessor.java._trace
/.StateQuerySpecification.java._trace
/.TransitionProcessor.java._trace
/.TransitionQuerySpecification.java._trace
/StateProcessor.java
/StateQuerySpecification.java
/TransitionProcessor.java
/TransitionQuerySpecification.java
